/*utility-first*/

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols2 {
    grid-template-columns: 1fr 1fr ;
}

.gap-16 {
    gap: 16px;
}

.text-xxl {
    font-family: var(--heading1);
}

.text-xl {
    font-family: var(--heading2);
}

.text-lg {
    font-family: var(--heading3);
}

.text-sm {
    font-family: var(--text-sm);
}

h3 {
    font: "Archivo", sans-serif ;
    font-size: 14px;
    font-weight: 140%;
    color: var(--text-color-primary);
    font-weight: 800;

}